asn1crypto==0.24.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
coverage==4.5.1
cryptography==2.3.1
Django>=2.1.2
django-cors-headers==2.4.0
djangorestframework==3.8.2
djangorestframework-simplejwt==3.2.3
gunicorn==19.9.0
idna==2.7
itypes==1.1.0
Jinja2==2.10
MarkupSafe==1.0
permission==0.4.1
pluggy==0.7.1
psycopg2==2.7.5
py==1.6.0
pycparser==2.18
PyJWT==1.6.4
pytz==2018.5
requests==2.19.1
six==1.11.0
tox==3.2.1
uritemplate==3.0.0
urllib3==1.23
virtualenv==16.0.0
